# ================================================
# Disney Movies - Frontend
# Variables de entorno - Desarrollo
# ================================================

# API Base URL (Backend)
VITE_API_URL=http://localhost:5000/api/v1

# TMDB API Token (opcional - para posters de películas)
VITE_TMDB_TOKEN=c66eb9e2b42b5d1d179fff7ac34ce71f

# Entorno
VITE_ENVIRONMENT=development
